@import '~bootstrap/scss/bootstrap';
@import './hammer.scss';
@import './signup-in-buttons.scss';
@import './sign-up-in-forms.scss';


body {
  background-image: url('public/blueprintv3-c-15.jpg');
  background-size: cover;
  color: white;
  background-position: relative;
  font-flamily: 'Inknut Antiqua';
  font-size:100%;
}
.headline {
display: flex;
flex-direction: row;
justify-content: center;
margin-top: 100px;
font-size: 80px;
outline-color: black;
text-align: center;
color: white;
text-shadow: -4px 2px grey;
}
.the-r {
  margin-top: -12px;
}
h1{
  font-size:80px;
}

input {
  border-radius:4px;
}

#message-box {
  color: white;
  font-weight: 500;
  font-size: 25px;
  text-shadow: -2px 1px grey;
  height: auto;
  width: auto;
}

.modal {
  color: black;
}

.tool-items {
  margin-left: 10px;
  margin-top: 10px;
}
